<a href="https://colab.research.google.com/github/aag112/basic01/blob/master/basic01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import math

create five variables

In [5]:
first_name = "Adrian"
firstname = 'Adrian'
FirstName = 'Adrian'
FIRSTNAME = 'Adrian'

In [8]:
print(first_name)
print(firstname)
print(FirstName)
print(FIRSTNAME)

Adrian
Adrian
Adrian
Adrian

write 10 last names

In [10]:
a = 'Garcia'
b = 'Alvarez'
c = 'Messi'
d = 'Suarez'
e = 'James'
f = 'Curry'
g = 'Lillard'
h = 'Barrett'
i = 'Burke'
j = 'Smith'

In [12]:
print (a, b, c, d, e, f, g, h, i , j)

Garcia Alvarez Messi Suarez James Curry Lillard Barrett Burke Smith

In [16]:
num = 12.907
print (num)

12.907

In [19]:
math.pi

3.141592653589793

In [22]:
game = True 
type(game)

bool

In [24]:
list = ['name','time','carrots']
print(list)

['name', 'time', 'carrots']

create 10 lists, 10 bool and 10 floats

In [29]:
list = ['x','y','z']
list2 = ['1','2','3']
list3 = ['true','false','yes','no']
list4 = ['a','b','c']
list5 = ['A','B','C']
list6 = ['day','night','noon']
list7 = ['one','two','three']
list8 = ['five','six','seven']
list9 = ['eight','nine','ten']
print(list8)

['five', 'six', 'seven']

In [28]:
bool = 'true'
bool = 'false'
bool = 'true'
bool = 'false'
bool = 'true'
bool = 'false'
bool = 'true'
bool = 'false'
bool = 'true'
bool = 'false'
print(bool)

false

In [ ]:
float = 0.001
float = 0.123
float = 5.5
float = 3.14
float = 2.09
float = 5.3976493658
float = 4.897
float = 6973.03
float = 3974.909
float = 32.098