<a href="https://colab.research.google.com/github/aag112/basic01/blob/master/LoopingPractice1_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
tvshows = ['star trek','game of thrones', 'stranger things']
for show in tvshows:
  print(show.title() + ", is one of my favorite TV shows!\n I cant wait to watch " + show.upper() + " again\n")
  
print("I can't wait for my TV shows to come back on air!")

Star Trek, is one of my favorite TV shows!
 I cant wait to watch STAR TREK again

Game Of Thrones, is one of my favorite TV shows!
 I cant wait to watch GAME OF THRONES again

Stranger Things, is one of my favorite TV shows!
 I cant wait to watch STRANGER THINGS again

I can't wait for my TV shows to come back on air!

In [6]:
family = ['Sandra','Juan','Jhoan','Devin','Adrian','Daniela','Isa','Hernan','Mylenne','Sebas','Alejandro','Haydee','Percy','Gerardo','Dani','Adriana','Ruth','Viviana','Wagner','Damian']
for fam in family:
  print('Hello: {}'.format(fam))
print('Welcome family!')

Hello: Sandra
Hello: Juan
Hello: Jhoan
Hello: Devin
Hello: Adrian
Hello: Daniela
Hello: Isa
Hello: Hernan
Hello: Mylenne
Hello: Sebas
Hello: Alejandro
Hello: Haydee
Hello: Percy
Hello: Gerardo
Hello: Dani
Hello: Adriana
Hello: Ruth
Hello: Viviana
Hello: Wagner
Hello: Damian
Welcome family!

In [13]:
for num in range (1,11):
  print(num)

1
2
3
4
5
6
7
8
9
10

In [20]:
numbers = list(range(1,11))
print(numbers)
for num in numbers:
  if num % 2 != 0:
    print('{}'.format(num) + " is an odd number")
print("these are all the odd numbers in the list")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1 is an odd number
3 is an odd number
5 is an odd number
7 is an odd number
9 is an odd number
these are all the odd numbers in the list

user enters a number
tell the user if it's odd or even

In [21]:
n = int(input("Enter a number: "))
if n % 2 != 0:
  print("this is an odd number")
else:
  print("this is an even number")

Enter a number: 22
this is an even number

print(f"{variable} is even")
another way to print
print('{0} is odd'.format(variable))

In [27]:
x = list(range(1,21))
for a in x:
  if a == 1:
    print(f"{a} is not a prime number")
  elif a == 2:
    print(f"{a} is a prime number")
  elif a%2 != 0:
    print(f"{a} is a prime number")
  else:
    print(f"{a} is not a prime number")
    #incorrect code

1 is not a prime number
2 is a prime number
3 is a prime number
4 is not a prime number
5 is a prime number
6 is not a prime number
7 is a prime number
8 is not a prime number
9 is a prime number
10 is not a prime number
11 is a prime number
12 is not a prime number
13 is a prime number
14 is not a prime number
15 is a prime number
16 is not a prime number
17 is a prime number
18 is not a prime number
19 is a prime number
20 is not a prime number

In [35]:
for num in range(1, 101):
  #a for loop in the ranges of 1 to 100
    for i in range(2, num):
      """the variable i will store the first item on the list.
       Within the range of 2 and the variable num
      """ 
        if num % i == 0:
          #if statement where the remainder of num/i is equal to zero end code
            break
        else:
            print(num)
            break

3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [36]:
for num in range(2,101):
  if all(num%i !=0 for i in range(2,num)):
    print (num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [40]:
tvshows = ['star trek','game of thrones', 'stranger things', 'big bang theory','family mirror']
print(tvshows[0:3])
print(tvshows[2:4])
print(tvshows[:3])
print(tvshows[2:])
print(tvshows[-2:])

['star trek', 'game of thrones', 'stranger things']
['stranger things', 'big bang theory']
['star trek', 'game of thrones', 'stranger things']
['stranger things', 'big bang theory', 'family mirror']
['big bang theory', 'family mirror']

In [43]:
family = ['Sandra','Juan','Jhoan','Devin','Adrian','Daniela','Isa','Hernan','Mylenne','Sebas','Alejandro','Haydee','Percy','Gerardo','Dani','Adriana','Ruth','Viviana','Wagner','Damian']
print(family[0:3])
print(family[2:4])
print(family[:3])
print(family[2:])
print(family[-2:])
print(family[1:5])
print(family[:-1])
print(family[-1:])
print(family[-3:])
print(family[8:9])

['Sandra', 'Juan', 'Jhoan']
['Jhoan', 'Devin']
['Sandra', 'Juan', 'Jhoan']
['Jhoan', 'Devin', 'Adrian', 'Daniela', 'Isa', 'Hernan', 'Mylenne', 'Sebas', 'Alejandro', 'Haydee', 'Percy', 'Gerardo', 'Dani', 'Adriana', 'Ruth', 'Viviana', 'Wagner', 'Damian']
['Wagner', 'Damian']
['Juan', 'Jhoan', 'Devin', 'Adrian']
['Sandra', 'Juan', 'Jhoan', 'Devin', 'Adrian', 'Daniela', 'Isa', 'Hernan', 'Mylenne', 'Sebas', 'Alejandro', 'Haydee', 'Percy', 'Gerardo', 'Dani', 'Adriana', 'Ruth', 'Viviana', 'Wagner']
['Damian']
['Viviana', 'Wagner', 'Damian']
['Mylenne']